# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.venv/
venv/
env/



# Node / React Native
node_modules/
.expo/
.expo-shared/
dist/
build/
coverage/

# Env files
.env
.env.*
!.env.example

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.tar

# Terraform / K8s local
*.tfstate
*.tfstate.*
secret-local.yaml
.terraform.lock.hcl
.terraform/
apply-local.sh